.container {
  height: 100vh;
}

.expandCollapseButton,
.stack {
  display: none;
}

.expandCollapseButton:hover {
  cursor: pointer;
}

.document {
  background-color: white;
  border: 1px solid rgb(190, 186, 186);
  padding: 0 5px 0 0;
  border-radius: 5px;
  color: #4380d1;
  display: flex;
  align-items: center;
}

.document:hover {
  cursor: pointer;
}

.td {
  border: 1px solid red;
}

@media (max-width: 800px) {
  .expandCollapseButton,
  .stack {
    display: flex;
  }

  .group {
    display: none;
  }

  .expandCollapseButton {
    background-color: white;
    height: 30px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(190, 186, 186);
    border-radius: 5px;
  }

  .menuItem {
    padding: 5px;
    color: #4380d1;
    border-bottom: 2px solid rgb(190, 186, 186);
  }

  .menuItem:hover {
    background-color: #ecf1f4;
    cursor: pointer;
  }
}
