.container {
  height: 100vh;
}

.expandCollapseButton,
.stack {
  display: flex;
}

.expandCollapseButton {
  background-color: white;
  height: 35px;
  display: flex;
  align-items: center;
  border: 1px solid rgb(190, 186, 186);
  border-radius: 5px;
  color: #4380d1;
}

.expandCollapseButton:hover {
  cursor: pointer;
}

.groupFile {
  border-radius: 5px;
  margin-right: 5px;
  color: rgb(190, 186, 186);
  height: 30px;
  width: 30px;
  border: 3px solid;
}

.document {
  background-color: white;
  border: 1px solid rgb(190, 186, 186);
  padding: 0 5px 0 0;
  border-radius: 5px;
  color: #4380d1;
  display: flex;
  align-items: center;
}

.document:hover {
  cursor: pointer;
}

.menuItem {
  padding: 5px;
  color: #4380d1;
  border-bottom: 2px solid rgb(190, 186, 186);
}

.menuItem:hover {
  background-color: #ecf1f4;
  cursor: pointer;
}
